{{ form_start(form) }}
    {{ form_widget(form, {'attr': {'class': 'mon-input'}}) }}
    <button class="btn btn-success" type="submit">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}