{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Créer votre catégorie</h1>

    {{ include('back/category/_form.html.twig') }}

    <a href="{{ path('app_back_category_index') }}">Retour</a>
{% endblock %}
