<form method="post" action="{{ path('app_back_eat_delete', {'id': eat.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
