{% extends 'base.html.twig' %}

{% block title %}Edit Eat{% endblock %}

{% block body %}
    <h1>Edit Eat</h1>

    {{ include('back/eat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_eat_index') }}">back to list</a>

    {{ include('back/eat/_delete_form.html.twig') }}
{% endblock %}
