<form method="post" action="{{ path('app_back_image_delete', {'id': image.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet article ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
