<form method="post" action="{{ path('app_back_drink_delete', {'id': drink.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet article ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ drink.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
