{% extends 'base.html.twig' %}

{% block title %}Edition Boisson{% endblock %}

{% block body %}
  <div>
    <h1>Edition Boissons</h1>
        
    {{ include('back/drink/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

     <a href="{{ path('app_back_drink_index') }}" class="btn btn-warning">{{ 'Retour' }}</a>

    {{ include('back/drink/_delete_form.html.twig') }}
    
</div>
{% endblock %}
