{% extends 'base.html.twig' %}

{% block title %}New Drink{% endblock %}

{% block body %}
    <h1>Ajouter Drink</h1>

    {{ include('back/drink/_form.html.twig') }}

    <a href="{{ path('app_back_drink_index') }}">Retour</a>
{% endblock %}
