{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Ajouter User</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('app_back_user_index') }}">Retour</a>
{% endblock %}
