{# <form method="post" action="{{ path('app_back_restaurant_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cet article ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
    <button class="btn btn-danger">Delete</button>
</form> #}
