{% extends 'base.html.twig' %}

{% block title %}Edition Restaurant{% endblock %}

{% block body %}
    <div>
        <h1>Edition Restaurant</h1>
        
        {{ include('back/restaurant/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a  class="btn btn-warning" href="{{ path('app_back_restaurant_index') }}">{{ 'Retour' }}</a>

        {{ include('back/restaurant/_delete_form.html.twig') }} 
    </div>
{% endblock %}
