{% extends 'base.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <h1>Ajouter Restaurant</h1>

    {{ include('back/restaurant/_form.html.twig') }}

    <a href="{{ path('app_back_restaurant_index') }}">Retour</a>
{% endblock %}
