{% extends 'base.html.twig' %}

{% block title %}Edition Review{% endblock %}

{% block body %}
    <h1>Edition Review</h1>

    {{ include('back/review/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_review_index') }}">Retour</a>

    {{ include('back/review/_delete_form.html.twig') }}
{% endblock %}
