{% extends "base.html.twig" %}

{% block body %}
	<div class="my-4 ">
		<div class="my-5 py-5 text-center">

			<h1 class="fw-bold display-1 lightgray">404 Page non trouvée</h1>
			<img src="{{ asset('image/assiette.png' ) }}" alt="Aperçu de l'image" width="400">

			<div class="col-lg-6 mx-auto">
				<p class="display-6 mb-4 p_gold">
					<br>Oups...nous sommes désolés, la page que vous cherchez n'existe pas
				</p>
			
			</div>

		</div>
	</div>
{% endblock %}

