{% extends "base.html.twig" %}

{% block body %}
<div class="my-4 ">
    <div class="my-5 py-5 text-center fof">


		
		<h1 class="fw-bold display-1 fof">404</h1>
        <div class="col-lg-6 mx-auto">
            <p class="display-6 mb-4 fof">{{ exception.message }}<p>
		</div>
        	
	</div>
</div>
{% endblock %}
